*~
*.bak
*.orig
*.swp
.vscode
src/build
.DS_Store
releases/
src/build/
.dev
node_modules/
.env
site/
esp/build/
src/build*
esp/sdkconfig
esp/dependencies.lock
esp/.cache/
esp/build/
src/build/
serial.txt
sig.bin
key.pem
src/lib

plans/
.agents/
esp/sdkconfig
esp/dependencies.lock
esp/.cache/
